<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="static/css/style.css">
    <title>Contact</title>
  </head>
  <body>
      {{>navbar}}
      <br>
      <h2>Connect With Us by sending a Request.</h2>
      <div class="con">
        <div class="box">
          <input type="text" class="in" placeholder="Enter Your Name">
          <input type="email" class="in" placeholder="Enter Your Email-Id">
          <input type="number" class="in" placeholder="Enter Your Phone No.">
          <button type="button" class="btn btn-outline-dark contactbtn">Send</button>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>